* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  background-color: cadetblue;
}
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 762px;
  height: 910px;
  max-width: 762px;
  background-color: cadetblue;
}
.active {
  background-color: green;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}