.main {
    width: 100%;
    height: 95%;
    background-color:navajowhite;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px black;
}
.wrapper {
    margin: 5% 5%;
}
.header {
    display: flex;
}
.signout__button {
    margin-left: 50%;
}
.signout__button:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}
.carousel {
    position: relative;
    user-select: none;
    margin-top: 40px;
    overflow: hidden;
}
.inside__carousel {
    user-select: none;
    right: 0px;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(30, auto);
    gap: 15px;
    /* width: 100%; */
    height: 150px;
}
.single {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 155px;
    height: 95%;
    background-color: blanchedalmond;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 5px 1px 1px 1px black;
}
.string__date {
    pointer-events: none;
    margin-top: 5px;
    font-size: 20px;
}
.number__date {
    pointer-events: none;
    margin-top: 40px;
    font-size: 20px;
}
.task__container {
    margin-top: 50px;
    height: 380px;
    overflow: hidden;
}
.task__container_task {
    margin-top: 20px;
    display: flex;
}
.task__container_text {
    font-size: 25px;
}
.custom__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.custom__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #000000;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    box-shadow: 1px 1px 1px 1px black;
}
.custom__checkbox:checked+label::before {
    border-color: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.add__task_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add__task_btn {
    cursor: pointer;
    margin-top: 70px;
    width: 40%;
    height: 30px;
    padding-top: 15px;
    text-align: center;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 5px 1px 1px 1px black;
}
.add__task_btn:hover {
    color: rgb(223, 103, 103);
}


